doctype html
html
	head
		meta[charset="utf-8"]
		meta[name="viewport" content="initial-scale=1.0, user-scalable=no"]
		link[rel="stylesheet" type="text/css" href="/assets/custom.css"]
		link[rel="stylesheet" type="text/css" href="/assets/custom.css"]

	body
		header
		include source/layouts/_header
		main
			= yield
		footer
