

@font-face {
	font-family: ArchVFo;
	src: url(/assets/fonts/ArchivoNarrow-VariableFont.ttf) format('truetype');
}
@font-face {
	font-family: DosVFo;
	src: url(/assets/fonts/Dosis-VariableFont.ttf) format('truetype');
}
@font-face {
	font-family: RobBlack;
	src: url(/assets/fonts/Roboto-Black.ttf) format('truetype');
}
@font-face {
	font-family: RobBold;
	src: url(/assets/fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
	font-family: RobMonoVFo;
	src: url(/assets/fonts/RobotoMono-VariableFont.ttf) format('truetype');
}

.archVFo {
	font-family: ArchVFo;
	font-variation-settings: 'wght' 600;
}
.dosVFo {
	font-family: DosVFo;
	font-variation-settings: 'wght' 400;
}
.robB {
	font-family: RobBlack;
}
.robBo {
	font-family: RobBold;
}
.robMonoVFo {
	font-family: RobMonoVFo;
	font-variation-settings: 'wght' 600;
}

*, html {
	font-family: DosVFo;
	font-variation-settings: 'wght' 500;
}

